/*FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
/*RESPONSIVO*/
@media (min-width:0px){
	/*celulares*/
	article{width:100%;}
}
@media (min-width:400px){
		/*tablets*/
	article{width:75%;}
}
@media (min-width:900px){
		/*monitores*/
	article{width:50%;}
}
/*CORPO*/
body {
    border-radius: 3px;
    background: #bababa;
    box-shadow:  1px 1px 2px #a7a7a7,
                 -1px -1px 2px #cdcdcd;
}
.cabecalho_menu {
    width: 100%;
    border: 1px inherit black;
    background-color: rgb(255, 255, 255);;
    height: 75px;
    display: flex;
    justify-content: center;
    writing-mode: horizontal-tb;
  }
  .logopag {
    width: 100%;
    border: 1px inherit black;
    background-color: rgb(255, 255, 255);;
    height: 75px;
    display: flex;
    justify-content: center;
    writing-mode: horizontal-tb;
  }
.ulcabecalho {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #a39292;
  }
  .cabecalho_menu_item {
    margin: 2 2px;
    border: #e4e6e8;
  }
  a,li {
    display: block;
    color: #060404;
    text-decoration: none;
    padding: 10px;
  }




